[submodule "emsdk"]
	path = app/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "lua"]
	path = app/lua
	url = https://github.com/lua/lua.git
[submodule "web/ace-builds"]
	path = web/ace
	url = https://github.com/ajaxorg/ace-builds.git
