@charset "UTF-8";

@font-face
{
  font-family: "Emulogic";
  src: url("../fnt/emulogic.ttf");
}

:root
{
  --xlcolor: #C6E4FF;
  --mlcolor: #A5A5FF;
  --mdcolor: #4242E7;
  --xdcolor: #2E2D87;
}

html, body
{
  font-family: "Emulogic", monospace;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--mdcolor);
}

table, th, td
{
  border: 1px solid black;
  margin: 4px 4px 8px 4px;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  font-weight: normal;
}

h2
{
  padding-bottom: 16px;
}

h3
{
  font-size: 1em;
  padding: 4px 0px
}

h4
{
  font-size: 1em;
  padding: 0px 0px
}

hr
{
  border: 2px solid var(--xdcolor);
  margin-bottom: 32px;
}

.syntax
{
  padding: 8px 8px 8px 4px;
  margin: 0;
}

.title
{
  text-align: center;
}

.canvas-container
{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 50%;
  text-align: center;
  float: left;
  background: var(--mdcolor);
}

.editor-container
{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
}

.container
{
  display: block;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
  width: 40%;
  padding: 12px 24px;
  margin: 0 auto;
  color: var(--xdcolor);
  background: var(--mlcolor);
  -webkit-box-shadow: 8px 0px rgba(0,0,0,0.4), -8px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 8px 0px rgba(0,0,0,0.4), -8px 0px rgba(0,0,0,0.4);
  box-shadow: 8px 0px rgba(0,0,0,0.4), -8px 0px rgba(0,0,0,0.4);
}

.api-header
{
  font-family: "Emulogic", monospace;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  padding: 4px 16px;
  border: none;
  text-align: left;
  outline: none;
  color: var(--xlcolor);
  background: var(--mdcolor);
}
.api-header:hover
{
  color: var(--xdcolor);
  background: var(--xlcolor);
}

.api-header:hover + .api-content
{
  border-right: 4px solid var(--xlcolor);
  border-left: 4px solid var(--xlcolor);
  border-bottom: 0px solid var(--xlcolor);
}

.api-content
{
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 8px;
  margin-bottom: 4px;
  max-height: 0;
  color: var(--mdcolor);
  border-right: 4px solid var(--mdcolor);
  border-left: 4px solid var(--mdcolor);
  border-bottom: 0px solid var(--mdcolor);
  transition: max-height 0.2s ease-out, border-bottom-width 0.2s ease-out;
}

.api-content p
{
  padding: 4px 8px 12px 8px;
  margin: 0;
}

.api-content hr
{
  border: 2px solid var(--mdcolor);
  margin-top: 0px;
  margin-bottom: 8px;
}

.api-content h4
{
  color: var(--xdcolor);
}

.button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 1.5em;
  text-decoration: none;
  color: var(--xdcolor);
  background: var(--mlcolor);
}
.button:hover
{
  color: var(--xdcolor);
  background: var(--xlcolor);
}
.button:active, .button:target
{
  color: var(--mlcolor);
  background: var(--mdcolor);
}

#canvas
{
  display: block;
  height: auto;
  width: auto;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 10px solid #000;
}

#topbar
{
  display: flex;
  height: 48px;
  width: 100%;
  background: var(--mlcolor);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 0px 8px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 8px rgba(0,0,0,0.4);
  box-shadow: 0px 8px rgba(0,0,0,0.4);
}

#btmbar
{
  display: flex;
  height: 48px;
  width: 100%;
  background: var(--mlcolor);
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 0px -8px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -8px rgba(0,0,0,0.4);
  box-shadow: 0px -8px rgba(0,0,0,0.4);
}

#editor
{
  font-family: "Emulogic", monospace;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

#error
{
  display: none;
  height: 48px;
  width: 100%;
  background: #F00;
  color: #FFF;
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 0px -8px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -8px rgba(0,0,0,0.4);
  box-shadow: 0px -8px rgba(0,0,0,0.4);
}

/* Ace Editor Style Overrides */

.ace_gutter-cell.ace_error
{
  background-image: none;
}

.ace_tooltip
{
  display: none !important;
}

.ace_cursor
{
  border: none;
  background: rgba(255,255,0,0.5);
}
.ace_hidden-cursors .ace_cursor
{
  background: rgba(255,255,0,1.0);
}
